In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('Covid-19 Activity.csv')

C:\Users\DELL\AppData\Local\Temp\ipykernel_9360\3341376338.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Covid-19 Activity.csv')

In [4]:
df.head()

,index,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,0,19088,Delaware,Ohio,2021-07-23,America,New York Times,1,39041.0,USA,United States,US,11,138
1,1,19099,Delaware,Ohio,2021-07-24,America,New York Times,0,39041.0,USA,United States,US,11,138
2,2,19105,Delaware,Ohio,2021-07-25,America,New York Times,0,39041.0,USA,United States,US,6,138
3,3,19120,Delaware,Ohio,2021-07-26,America,New York Times,0,39041.0,USA,United States,US,15,138
4,4,19143,Delaware,Ohio,2021-07-27,America,New York Times,0,39041.0,USA,United States,US,23,138

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952310 entries, 0 to 2952309
Data columns (total 14 columns):
 #   Column                           Dtype
---  ------                           -----
 0   index                            int64
 1   PEOPLE_POSITIVE_CASES_COUNT      int64
 2   COUNTY_NAME                      object
 3   PROVINCE_STATE_NAME              object
 4   REPORT_DATE                      object
 5   CONTINENT_NAME                   object
 6   DATA_SOURCE_NAME                 object
 7   PEOPLE_DEATH_NEW_COUNT           int64
 8   COUNTY_FIPS_NUMBER               float64
 9   COUNTRY_ALPHA_3_CODE             object
 10  COUNTRY_SHORT_NAME               object
 11  COUNTRY_ALPHA_2_CODE             object
 12  PEOPLE_POSITIVE_NEW_CASES_COUNT  int64
 13  PEOPLE_DEATH_COUNT               int64
dtypes: float64(1), int64(5), object(8)
memory usage: 315.3+ MB

In [6]:
df.isna().sum()

index                                   0
PEOPLE_POSITIVE_CASES_COUNT             0
COUNTY_NAME                        232400
PROVINCE_STATE_NAME                185090
REPORT_DATE                             0
CONTINENT_NAME                      10790
DATA_SOURCE_NAME                        0
PEOPLE_DEATH_NEW_COUNT                  0
COUNTY_FIPS_NUMBER                 279710
COUNTRY_ALPHA_3_CODE                10790
COUNTRY_SHORT_NAME                      0
COUNTRY_ALPHA_2_CODE                11620
PEOPLE_POSITIVE_NEW_CASES_COUNT         0
PEOPLE_DEATH_COUNT                      0
dtype: int64

In [7]:
df['CONTINENT_NAME'].fillna('Unknown', inplace=True)

df['COUNTRY_ALPHA_2_CODE'].fillna('Unknown', inplace=True)
df['COUNTRY_ALPHA_3_CODE'].fillna('Unknown', inplace=True)

df['COUNTY_NAME'].fillna('Unknown', inplace=True)
df['PROVINCE_STATE_NAME'].fillna('Unknown', inplace=True)
df['COUNTY_FIPS_NUMBER'].fillna(0, inplace=True)

print(df.isna().sum())

C:\Users\DELL\AppData\Local\Temp\ipykernel_9360\4269807852.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['CONTINENT_NAME'].fillna('Unknown', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_9360\4269807852.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['COUNTRY_ALPHA_2_CODE'].fillna('Unknown', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_9360\4269807852.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['COUNTRY_ALPHA_3_CODE'].fillna('Unknown', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_9360\4269807852.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['COUNTY_NAME'].fillna('Unknown', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_9360\4269807852.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['PROVINCE_STATE_NAME'].fillna('Unknown', inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_9360\4269807852.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['COUNTY_FIPS_NUMBER'].fillna(0, inplace=True)

index                              0
PEOPLE_POSITIVE_CASES_COUNT        0
COUNTY_NAME                        0
PROVINCE_STATE_NAME                0
REPORT_DATE                        0
CONTINENT_NAME                     0
DATA_SOURCE_NAME                   0
PEOPLE_DEATH_NEW_COUNT             0
COUNTY_FIPS_NUMBER                 0
COUNTRY_ALPHA_3_CODE               0
COUNTRY_SHORT_NAME                 0
COUNTRY_ALPHA_2_CODE               0
PEOPLE_POSITIVE_NEW_CASES_COUNT    0
PEOPLE_DEATH_COUNT                 0
dtype: int64

In [8]:
df.isna().sum()

index                              0
PEOPLE_POSITIVE_CASES_COUNT        0
COUNTY_NAME                        0
PROVINCE_STATE_NAME                0
REPORT_DATE                        0
CONTINENT_NAME                     0
DATA_SOURCE_NAME                   0
PEOPLE_DEATH_NEW_COUNT             0
COUNTY_FIPS_NUMBER                 0
COUNTRY_ALPHA_3_CODE               0
COUNTRY_SHORT_NAME                 0
COUNTRY_ALPHA_2_CODE               0
PEOPLE_POSITIVE_NEW_CASES_COUNT    0
PEOPLE_DEATH_COUNT                 0
dtype: int64

In [10]:
df.to_csv('Tableau_Cleaned_Covid-19.csv', index=False)